#banner {
  position: relative;
}

#banner img {
  width: 100%;
  height: auto;
}

#banner h1 {
  position: absolute;
  left: 10%;
  top: 20%;
  font-size: 8vw;
  font-family: Permanent Marker, cursive;
}
#categoryCarousel {
}

.categoryPic {
  margin: 0 auto;
  transition: transform .2s; /* Animation */
}

.categoryPic:hover {
  transform: scale(1.2);
}

.categoryCaption {
  color: black;
  font-family: 'Gaegu', cursive;
}
