/* Header */
#banner {
  position: relative;
}

#banner img {
  width: 100%;
}

#banner h1 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 14vw;
  font-family: Permanent Marker, Impact, cursive;
}

#pencil {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Category Selector */
h1 {
  font-family: Coming Soon, Courier New, cursive;
  font-size: 4vw;
  margin: 0 auto;
}

.categoryPic {
  margin: 0 auto;
  transition: transform .2s; /* Animation */
  z-index: -2;
}

.categoryPic:hover {
  transform: scale(1.2);
}

.categoryCaption {
  color: black;
  font-size: 5vw;
  font-family: Gaegu, cursive;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-control {
  opacity:100;
}

/* Quiz */

#questionCard {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Permanent Marker, Impact, cursive;
  background-color: 'green';
}

#questionCard p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4.5vw;
}

.answerOptions {
  position: relative;
  margin: 0 auto;
  width: 33vw;
  list-style-type: none;
  font-family: Coming Soon, Courier New, cursive;
  font-size: 2.75vw;
}

.answerOptions li {
  border: 1px solid #eee;
}

li:hover {
  color: #ADD8E6;
}

/* results component */
#reportCard {
  font-family: Times New Roman, Times, serif;
  margin: 0 auto;
  width: 60%;
  height: 30vw;
  background-color: #fff1ad;
  background: url('images/yellowPaper.jpg') no-repeat;
  background-blend-mode: color;
  border-radius: 25px;
}

#reportCard h3 {
  text-align: center;
  font-size: 6vw;
  background-color: black;
  color: #fff1ad;
  border-radius: 25px 25px 0px 0px;
}

table {
  width: 100%;
  margin-bottom: 2vw;
}

table tr td {
  border: 1px solid black;
}

td {
  font-size: 3vw;
  position: relative;
  left: 2vw;
}

.cardNotes {
  color: red;
  font-family: Permanent Marker, Impact, cursive;
}

/* Transitions */

.container {
  position: relative;
  margin: 0 auto;
  background: transparent;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
